* 
{
	outline:0;
}

html 
{
	background-color: #b6c7d7;
	overflow: auto;
	font-size: 62.5%;
}

body 
{
	text-align: left;
	margin: 0;
	padding: 0;
}

/*CONTENT (start) ---------*/

body 
{
	/*Content editor body*/
	/*background-color: #fff;*/
}

body, select, input, textarea, table 
{
	font-family: tahoma, verdana, sans-serif;
	color: #666;
	font-size: 1.1em;
	line-height: 1.5;
}

table 
{
	font-size: inherit;
	font-size: 100%;
}

h1, h2, h3, h4, h5, h6 
{
	color: #666;
	padding: 0em;
	font-weight: normal;
	text-decoration: none;
	line-height: 1.4;
}

h6 
{
	font-size: 0.4em;
	margin: 1em 0em 0em 0em;
}

h5 
{
	font-size: 0.6em;
	margin: 1em 0em 0em 0em;
}

h4 
{
	font-size: 0.8em;
	margin: 1.5em 0em 0em 0em;
}

h3 
{
	font-size: 1.2em;
	margin: 1em 0em 0em 0em;
}

h2 
{
	font-size: 1.5em;
	margin: 2em 0em 0em 0em;
}

h1,
.modGallery h2,
.modGuestbook h2,
.modCatalog h2,
.modNewsList h2 
{
	text-transform: none;
	letter-spacing: 0.1em;
	font-size: 2em;
	margin: 0em 0em 0em 0em;
}

p 
{
	margin: 1em 0em 0em 0em;
}

a, 
a:link,
a:visited, 
a:active 
{
	color: #666;
	text-decoration: underline;
	font-weight: bold;
}

a:hover 
{
	text-decoration: underline;
	color: #d0dc48;
}

a img 
{
	border: 0;
}

hr 
{
	height: 1px;
	margin: 0.5em 0 1em 0;
	color: #999999;
	background-color: gray;
}

ul,
ol 
{
	margin: 1.2em 0em 1.2em 2em;
	padding: 0;
}

ul li,
ol li 
{
	margin: 0.3em 0em 0em 0em;
	list-style-position: outside;
	line-height: 1em;
	padding: 0 0 0.5em 0;
}

ul 
{
	
}

ol 
{
	list-style: decimal;
}

strong 
{
	font-weight: bold;
}

em 
{
	font-style: italic;
}

blockquote 
{
	margin: 0em 3em;
}

/*CONTENT (end) -----------*/

/*FOOTER ------------------*/

#footer
{
	font-size: 1em;
	text-align: center;
	margin: 0.2em 0 0 0;
	clear: both;
	color: #000;
}

#pFooterText
{
	
}

#footer a,
#footer a:link,
#footer a:hover,
#footer a:visited,
#footer a:active 
{
	color: #000;
	text-decoration: none;
	font-weight: normal;
}

/*LAYOUT ------------------*/

#wrapper
{
	text-align: left;
	width: 80em;
	padding: 0em;
	margin: 1em auto;
	background-color: transparent;
}

#header
{
	background-image: url(https://www.testwebben.se/3198/Images/130_bg_header.png);
	background-position: top left;
	width: 80em;
	text-align: right;
}

#logo
{
	margin: 2em 2em 0 0em;

}

#main
{
	margin: 0 0 0 0;
	padding: 2em;
	min-height: 20em;
	height: auto !important;
	height: 20em;
	background-color: #fff;
}


#main-top
{
	padding: 0;
	margin: 0;
	text-align: center;
	background: green;
}

#main-top .mceEditordiv 
{
	min-height: 10em;
	height: 10em !important; 
	height: 10em;
	text-align: center;
}

#main-content
{
	float: left;
	width: 58em;
	padding: 1em;
	margin: 0 0em 0 1em;
	text-align: left;
}

#main-content img
{
	border: 1px solid #b6c7d7;
	padding: 2px;
}


#newsbox
{
	float: right;
	width: 15em;
	padding: 0em 0em 0em 0em;
	margin: 0em 0em 0em 1.1em;
}

.clear 
{
	clear: both;
	line-height: 0.01;
	border-style: none;
}

/* NAV ---------------------- */

#nav
{
	float: left;
	width: 15em;
	/*background: #b6c7d7;*/
	margin-top: 1em;
}

#nav ul
{
    	margin: 0em 0em 0.5em 1.2em;
    	padding: 0;
}

#nav ul ul,
#nav ul ul ul
{
    	margin-left: 1.5em;
    	padding: 0;
}

#nav li
{
	list-style-type: none;
    	margin: 0em 0em 0em 0em;
    	padding: 1em 0em 0em 0em;
	text-transform: normal;
}

#nav li li
{
    	text-transform: none;
	list-style-type: none;
    	margin: 0.2em 0em 0em 0em;
    	padding: 0.2em 0em 0em 0em;
}

#nav li li li
{
	text-transform: none;
	list-style-type: none;
    	margin: 0.2em 0em 0em 0em;
    	padding: 0.2em 0em 0em 0em;
}

#nav li a:link,
#nav li a:visited,
#nav li a:hover
{
    	color: #6597c6;
    	text-decoration: none;
	font-weight: normal;
    	font-size: 1.3em;
    	padding: 0em;
}

#nav li a:hover
{
    	color: #777f5e;
}

#nav ul li ul,
#nav ul li ul li ul,
#nav ul li.current ul li ul
{
    	display: none;
}

#nav ul li.current ul,
#nav ul li.current ul li.current ul
{
	display: block;   
}

/*NYHETSMODUL------------------*/

.modNewsList
{
	margin: 0px;
}

.NewList
{

	width: 600px;
}

.modNewsList h3
{
	border-bottom: #000 solid 1px;;
	font-size: 1.2em;
	margin: 0;

}

.modNewsList ul 
{
	margin: 0;
	padding: 0;
}

.NewsList li
{
	list-style-type: none;
	margin: 0;
	padding: 1em 0em;
    	margin-right: 10px;
    	width: 150px;
}

.NewList li
{
    	list-style-type: none;
    	margin: 0;
    	padding: 1em;
    	border-bottom: #ccc 1px solid;
}

.image
{
    	margin: 0 1em 1em 0;
}

.aNewsLink 
{
    	font-weight:bold;
}

.modNewsList ul.NewsList li, 
.date
{
    	font-weight:bold;
}

.modNewsList a, 
.modNewsList a:hover
{
    	font-weight: normal;
	line-height: 1.2;
}

/*IE PNG Fix------------------*/

img, div 
{ 
	 
}


/* ------------------------------------ NEW ----------------------*/

html {
    overflow-y:scroll;
}
