@import url(https://www.testwebben.se/3198/11721.css);
#main-content
{
	float: left;
	width: 300px;
	padding: 1em;
	margin: 0;
	text-align: left;
	text-align: left;
}

#main-right
{
	float: left;
	width: 300px;
	padding: 1em;
	margin: 0;
	text-align: left;
	float: left;
}

/* KONTAKTFORMULÄR --------- */

#mContactForm input,
#mContactForm textarea
{
	color: black;
	width: 250px;
	margin: 0em;
}

#mContactForm textarea
{
	height: 70px;
}


